.error404{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(251,227,63);
    background: linear-gradient(90deg, rgba(251,227,63,1) 0%, rgba(255,195,235,1) 29%, rgba(190,255,238,1) 100%);
}

.notfound{
    width: 450px;
}


