@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Lobster&family=Poppins&family=Rajdhani&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.navbar { 
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(225, 230, 226, 0.532);
    height: 65px;
    align-items: center;
    background-color:  rgb(211, 253, 200);
    border-bottom: 1px solid #000;
   
    
}


.navbar-ul{
    list-style-type: none;
}


.nav-link{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    font-family:'Varela Round', sans-serif;
    font-weight: bold;
    
    
}

.nav-link:hover{
    border-bottom:1px solid #000;
}


.imgTiendaMundial { 
    width: 60px;
    height: 50px;
    overflow: hidden;

}


